#exhibition-image
{
    height: 400px;
    width: 100%;
    background: -webkit-linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)) , url(../images/Bible_bg.jpeg);
    background-size: 100% 100%;
    display: grid;
    place-items: center;
}

#exhibition-image div
{
    padding-top: 50px;
    font-size: 80px;
    font-family: "cenMT";
    color: white;
}

.about-container
{
    display: grid;
    grid-template-columns: 40% auto;
}

.about-container > *
{
    display: grid;
}

.about_image
{
    background: -webkit-linear-gradient(rgba(58, 55, 75, 0.6),rgba(48, 45, 61, 0.6)) , url(../images/card_1.png);
    background: -moz-linear-gradient(rgba(58, 55, 75, 0.6),rgba(48, 45, 61, 0.6)) , url(../images/card_1.png);
    background: -o-linear-gradient(rgba(58, 55, 75, 0.6),rgba(48, 45, 61, 0.6)) , url(../images/card_1.png);
    background-size: 100% 100%;
    width: 450px;
    height: 450px;
    position: relative;
    top: 110px;
    left: 10%;
    place-content: center;
    font-size: 30px;
}

.about_text
{
    display: flex;
    flex-direction: column;
    padding: 50px;
    text-align: justify;
}

.about-us-title
{
    display: grid;
}

.about-us-title h5
{
    text-transform: uppercase;
    font-family: "Poppins-Bold";
    text-align: center;
}

.about-us-title > .trait
{
    background-color: #ffce2d;
    width: 7%;
    height: 5px;
    place-self: center;
}

.lets-be-connected-content a,
.lets-be-connected-content i{
    color: black ;
}

/* ======================= Reponsive ================ */
@media screen and (max-width : 575px){

    #exhibition-image
    {
        height: 200px;
    }

    #exhibition-image div
    {
        font-size: 40px;
    }
    
    .about-container
    {
        display: flex;
        flex-direction: column;
    }

    .about_image
    {
        width: 250px;
        height: 250px;
        position: relative;
        top: 0px;
        left: 0px;
        place-content: center;
        place-self: center;
        font-size: 20px;
    }
    
    .about_text
    {
        padding: 25px;
    }

    .lets-be-connected-content .fa-facebook
    {
        color: #4267B2;
    }

    .lets-be-connected-content .fa-youtube
    {
        color: #ff0000;
    }

}
