body
{
    /* overflow: hidden; */
}

.streaming-space
{
    display: flex;
    flex-direction: column;
    column-gap: 100px;
    padding: 0px 10%;
    padding-top: 150px;
}

.fliters
{
    display: flex;
    column-gap: 50px;
    padding-bottom: 50px;
}

select option
{
    padding: 50px;
}

.audio-being-read
{
    display: flex;
    flex-direction: column;
}

.audio-being-read > img, .audio-being-read > audio
{
    width: 100%;
    height: 600px;
    place-self: center;
    padding-bottom: 30px;
}

.audio-being-read-infos
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
}

.share-and-download-icons 
{
    display: flex;
}

.share-and-download-icons > *
{
    color: #6c757d;
    display: flex;
    flex-direction: column;
    place-items: center;
    padding: 0px 10px;
}

.share-and-download-icons > a:hover
{
    color: #6c757d;
}

.other-audios
{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}

.another-audio
{
    display: grid;
    grid-template-columns: 25% auto;
    column-gap: 10px;
}

.another-audio  img
{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.another-audio  i
{
   color: white;
   position: relative;
   left: 100px;
   bottom: 130px;
   z-index: 2000;
   text-shadow: 2px 2px 10px #d1c8c8;
   border-radius: 55px;
   font-size: 50px;
   color: orange;
}

.another-audio-infos
{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-self: center;
}

