#exhibition-image
{
    height: 400px;
    width: 100%;
    background: -webkit-linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)) , url(../images/media.jpg);
    background: -moz-linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)) , url(../images/media.jpg);
    background: -o-linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)) , url(../images/media.jpg);
    background-size: 100% 100%;
    padding-right: 70px;
}

#exhibition-image div:nth-child(1)
{
    padding-top: 50px;
    font-size: 100px;
    color: white;
    text-align: end;
    font-family: "cenMT";
}

#exhibition-image div:nth-child(2)
{
    font-size: 50px;
    color: white;
    text-align: end;
}

.audio-space
{
    display: grid;
}

.audio-content
{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 50px;
    row-gap: 20px;
    justify-items: center;
}

.audio
{
    width: 300px;
    height: 300px;
    display: grid;
    grid-template-rows: 80% 20%;
}

.miniature-audio > img:hover
{
    box-shadow: 1px 1px 5px gray;
    transform: scale(105%);
}

.audio-title
{
    display: grid;
    align-content: end;
    justify-content: center;
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(53, 52, 52);
}

.miniature-audio > img
{
    width: 100%;
    height: 100%;
    filter: brightness(50%);
    border-radius: 5px;
}

.miniature-audio > img:hover
{
    box-shadow: 1px 1px 5px gray;
    transform: scale(105%);
}

.miniature-audio i
{   
    position: relative;
    bottom: 170px;
    left: 100px;
    z-index: 10;
    text-shadow: 1px 1px 3px #d1c8c8;
    border-radius: 55px;
    padding: 15px;
    color: #ffce2d;
    font-size: 50px;
}

.miniature-audio > img:visited
{
    transform: scale(200%);
    transition: transform 7s;
}

.selected-audio
{
    position: fixed;
    left: 25%;
    top: 10%;
    place-self: center;
    width: 50%;
    height: 70%;
    display: grid;
    grid-template-rows: 90% 10%;
    border: 1px solid #dfdbdb;
    box-shadow: 1px 1px 3px ghostwhite;
    z-index: 20000;
    border-radius: 5px;
}

.selected-audio audio
{
    width: 100%;
    height: 100%;
}

.selected-audio div:nth-child(2)
{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    background-color: #c05c5f;
    color: white;
    padding: 10px;

}

.selected-audio h4
{
    cursor: pointer;
}

.selected-audio #reading-audio-title
{
    font-weight: bold;
}

.playing-audio
{
    background-image: url(../images/Bible_bg.jpeg);
    background-size: 100% 100%;
}

.audio-pagination-container + div
{
    width: 100%;
    display: flex;
    justify-content: center;
}

.audio-pagination-container
{
    width: 100%;
    display: flex;
    justify-content: center;
}

.audio-pagination-container ul
{
    list-style-type: none;
    display: flex;
    place-items: center;
    gap: 20px;
}

.audio-pagination-container ul a, 
.audio-pagination-container .active
{
    background-color: rgb(230, 221, 221);
    padding: 5px 15px;
    border-radius: 5px;
    color: #8d191c;
}

.audio-pagination-container ul a:hover
{
    background-color: rgb(230, 221, 221);
    padding: 5px 15px;
    border-radius: 5px;
    color: #8d191c;
}

.audio-pagination-container .active
{
    background-color: #8d191c;
    padding: 5px 15px;
    border-radius: 5px;
    color: rgb(230, 221, 221);
}

.audio-pagination-container .disabled
{
    background-color: rgb(187, 184, 184);
    padding: 5px 15px;
    border-radius: 5px;
    color: #000;
}

.audio_filter {
    display: flex;
    place-self: center;
    width: 70%;
    gap: 20px;
}

.audio_filter select{
    padding: 5px;
    background-color: white;
    outline: none;
    border : 0.5px solid #8d191c;
    width: 50%;
}



/* ======================= Reponsive ================ */

@media screen and (max-width : 575px){

    #exhibition-image
    {
        height: 200px;
        padding: 0px;
        display: grid;
        justify-items: center;
    }

    #exhibition-image div:nth-child(1)
    {
        padding-top: 100px;
        font-size: 30px;
    }

    #exhibition-image div:nth-child(2)
    {
        font-size: 17px;
    }

    .audio-pagination-container{
        display: none;
    }

    .audio-content
    {
        display: flex;
        flex-direction: column;
        padding: 10px;
        gap: 10px;
        width: 100%;
    }
    
    .audio
    { 
        display: grid;
        grid-template-columns: 45% auto;
        column-gap: 10px;
        padding: 10px;
        box-shadow: 2px 2px 5px rgb(196, 195, 195);
        width: 100%;
        height: 60%;

    }

    .miniature-audio > img:hover
    {
        box-shadow: none;
        transform: none;
    }

    .audio-title
    {
        display: grid;
        align-content: center;
        justify-content: start;
        text-transform: uppercase;
        font-weight: bold;
        color: rgb(53, 52, 52);
        height: 130%;
    }

    .miniature-audio > img
    {
        width: 100%;
        filter: none;
        height: 130%;
        border-radius: 3px;
    }

    .miniature-audio > img:hover
    {
        box-shadow: none;
        transform: scale(1);
    }

    .miniature-audio i
    {   
        bottom: 90%;
        left: 28%;
        font-size: 30px;
    }
}