.book-detail
{
    padding: 50px;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    column-gap: 30px;
}

.book-image img
{
    place-self: center;
    width : 300px;
    height: 450px;
}

.book-detail-infos
{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    row-gap: 100px;
}

.author-name
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buy-book-button
{
    background-color: #8d191c;
    width: 40%;
    color: white;
    padding: 10px 0px;
    outline: none;
    border-style: none;
    font-weight: bold;
    text-transform: uppercase;
    margin: 20px 0px;
}

.buy-book-button:hover
{
    box-shadow: 3px 3px 8px rgb(165, 164, 164);
}

.book-summary
{
    text-align: justify;
}

#commandBookPopup
{
    z-index: 10000;
    font-family: 'Poppins', sans-serif;

}

.commandBookPopup-body
{
    display: flex;
    flex-direction: column;
    gap: 30px;
}