#exhibition-image
{
    height: 400px;
    width: 100%;
    background: -webkit-linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)) , url(../images/Bible_bg.jpeg);
    background-size: 100% 100%;
    display: grid;
    place-items: center;
}

#exhibition-image div
{
    padding-top: 50px;
    font-size: 80px;
    font-weight: bold;
    color: white;
}

#exhibition-image + div
{
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 100px;
}

.payment-space
{
    display: flex;
    flex-direction: column;
    padding: 10px;
    row-gap: 20px;
    box-shadow: 2px 2px 5px rgb(182, 181, 181);
}

.payment-space input,
.payment-space select
{
    padding: 5px;
    outline: none;
    border-radius: 3px;
    border: 0.5px solid rgb(180, 178, 178);
    background-color: white;
}

.payment-space input:focus, 
.payment-space select:focus
{
    border: 1px solid #0abb90;
}

.payment-space div > *
{
    display: inline-block;
}

.kkiapay-button
{   
    text-transform: uppercase; 
    color: white;
    font-weight: bold;
    border-radius: 3px;
    padding: 5px 0px;
    outline: none;
    border-style: none;
    background-color: #0abb90;
    cursor: pointer;
}

.kkiapay-button:hover
{
    background-color: #fff;
    color: #0abb90;
    border: 1px solid #0abb90;
    
}

.other-payment-methods
{
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.payment-methods
{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.payment-methods > *
{
    font-size: 50px;
}

.thanks-words
{
    text-align: justify;
}
 

/* ======================= Reponsive ================ */
@media screen and (max-width : 575px){

    #exhibition-image
    {
        height: 200px;
    }

    #exhibition-image div
    {
        font-size: 23px;
    }

    #exhibition-image + div
    {
        padding: 30px;
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    
    .other-payment-methods
    {
        padding: 50px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    

    
    .payment-methods > *
    {
        width: 100px;
        height: 60px;
    }
    
}
