.pastoral_couple
{
    width: 100%;
    font-family: "cenMT";
}

.pastoral_couple img
{
    width: 100%;
    height: 400px;
}

.pastoral_couple div
{
    position: absolute;
    bottom: 60%;
    left: 10%;
    color: #000;
    width: 100%;
}

.manager-title
{
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bold;
}


.pastoral-couple_speech
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.pastor_speech
{
    display: grid;
    place-content: center;
    padding: 0px 100px;
}

.pastoral-couple_speech p , .pastor_speech p
{
    text-align: justify;
}

.pastoral-couple_speech h4 , .pastor_speech h4
{
    font-weight: bold;
}

.description-bloc
{
    padding: 20px 100px;
    background: -webkit-linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)) , url(../images/sable_2.jpg);
    background: -moz-linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)) , url(../images/sable_2.jpg);
    background: -o-linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)) , url(../images/sable_2.jpg);
    background-size: 100% 100%;
    color: white;
}

.description-title, 
.location-title,
.horaires-title
{
    display: flex;
    flex-direction: column;
}

.description h5, 
.location h5, 
.horaires h5
{
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.description-title > .trait, 
.location-title > .trait, 
.horaires-title > .trait
{
    background-color: #ffce2d;
    width: 7%;
    height: 5px;
    place-self: center;
}

.horaires ul
{
    text-align: center;
    list-style-type: none;
    padding: 0px;
}

.location .map
{
    width: 100%;
    height: 350px;
}

.location .map > iframe
{
    width: 100%;
    height: 100%;
}


/* ======================= Reponsive ================ */
@media screen and (max-width : 575px){
    
    nav{
        width: 100vw;
    } 

    .church_details{
        padding: 0px !important;
    }

    .pastoral_couple img
    {
        width: 100%;
        height: 180px;
    }
    
    .pastoral_couple h1
    {
        font-size: 22px;
    }
    
    .pastoral_couple h2
    {
        font-size: 18px;
    }

    .pastoral_couple div
    {
        position: absolute;
        top: 18%;
        left: 15%;
    }

    .pastoral-couple_speech
    {
        display: flex;
        flex-direction: column;
        padding: 0px !important;

    }
    
    .pastor_speech
    {
        display: grid;
        place-content: center;
        padding: 0px 100px;
        padding: 0px !important;
    }
    
    .description-bloc
    {
        padding: 10px;
    }

    .location .map
    {
        width: 100%;
        height: 200px;
    }
    
}
