.lesson-container
{
    display: grid;
    grid-template-columns: 40% auto;
}

.lesson-container > *
{
    display: grid;
}

.lesson_image
{
    background: url(../images/bg_kingdom.png);
    background-size: cover;
}

.lesson_image img
{
    width: 400px;
    height: 400px;
    position: relative;
    top: 20%;
    left: 10%;
}

.lesson_text
{
    display: flex;
    flex-direction: column;
    padding: 50px;
    text-align: justify;
}

.church_social_network > img
{
    width: 50px;
    height: 50px;
}

.lesson-title
{
    display: grid;
}

.lesson-title h5
{
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.lesson-title > .trait
{
    background-color: #ffce2d;
    width: 7%;
    height: 5px;
    place-self: center;
}