#exhibition-image
{
    height: 400px;
    width: 100%;
    background: -webkit-linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)) , url(../images/Bible_bg.jpeg);
    background-size: 100% 100%;
    display: grid;
    place-items: center;
}

#exhibition-image div
{
    padding-top: 50px;
    font-size: 80px;
    font-weight: bold;
    color: white;
}

.lesson-container
{
    display: grid;
    grid-template-columns: 40% auto;
}

.lesson-container > *
{
    display: grid;
    height: 100%;
}

.lesson_image
{
    position: relative;
    top: 110px;
    left: 10%;
    z-index: -1;
}

.lesson_image div
{
    width: 450px;
    height: 450px;
    background: url(../images/bg_kingdom.png);
    background-size: cover;
    display: grid;
    place-content: center;
}

.lesson_image img
{
    width: 400px;
    height: 400px;
}

.lesson_text
{
    display: flex;
    flex-direction: column;
    padding: 50px;
    text-align: justify;
}

.church_social_network > img
{
    width: 50px;
    height: 50px;
}

.lesson-title
{
    display: grid;
}

.lesson-title h5
{
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.lesson-title > .trait
{
    background-color: #ffce2d;
    width: 7%;
    height: 5px;
    place-self: center;
}

.badge
{
    background-color: #0abb90;
    width: 130px;
    place-self: flex-end;
}

.toast
{
    position: fixed;
    top: 15%;
    right: 1%;
    background-color: #0abb90;
    color: #ffffff;
    font-weight: bold;
}