.profile-page
{
    display: flex;
    flex-direction: column;
    place-self: center;
    width: 70%;
    height: 85%;
    box-shadow: 2px 2px 10px rgb(201, 198, 198);
    padding: 20px;
    border-radius: 5px;
    justify-content: space-around;
}

.profile-page input
{
    border-style: none;
    outline: none;
    border-bottom: 3px solid rgb(177, 175, 175);
    color: rgb(63, 62, 62);
    width: 95%;
}

input:disabled
{
    background-color: white;
}

.profile-page .input-div
{
    width: 100%;
}

.profile-page label
{
    cursor: pointer;
    position: relative;
    right: 20px;
}


/* ======================= Reponsive ================ */

@media screen and (max-width : 575px){
    .profile-page
    {
        width: 95%;
        height: 80%;
    }

    .profile-page label
    {
        position: relative;
        top : -25px;
        left: 90%;
    }
}