thead
{
    background-color: #0abb90;
    color: white;
}

thead
{
    background-color: #0abb90;
    color: white;
}

thead tr th, tbody tr td
{
   text-align: center;
}

.delete-member
{
    cursor: pointer;
}