@font-face {
    font-family: "Poppins";
    src: url("../Fonts/Poppins-Light.ttf");
}

@font-face {
    font-family: "Poppins-Bold";
    src: url("../Fonts/Poppins-Bold.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("../Fonts/Roboto-Bold.ttf");
}

@font-face {
    font-family: "cenMT";
    src: url("../Fonts/TwCenMTStd-UltraBold.otf");
}

body {
    font-family: "Poppins", sans-serif;
}

.main {
    font-family: "Poppins", sans-serif;
    display: grid;
}

nav {
    display: grid;
    grid-template-columns: 15% auto;
    font-family: "Roboto";
    position: fixed;
    width: 100%;
    z-index: 5000;
}

nav.scrolled
{
    top:0px;
    transform: scale(0.98);
    transition: transform 2s;
    background-color: #8d191c;
    box-shadow: 2px 2px 7px gray;
}

.navBarItem {
    display: grid;
    align-content: center;
    justify-content: end;
    padding-right: 70px;
}

.navBarElements {
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 20px;
    list-style: none;
}

a {
    text-decoration: none;
}

.navBarElements > li > a {
    color: white;
}

.navBarElements > li > a:hover {
    color: #f8db00;
    border-bottom: 3px solid #f8db00;
}

.churchesSubMenu {
    background-color: white;
    list-style-type: none;
    width: 320px;
    z-index: 1000;
    box-shadow: 2px 2px 5px rgb(128, 123, 123);
    position: absolute;
    top: 20;
    display: none;
    padding-left: 0px;
}

.eglises:hover .churchesSubMenu {
    display: grid;
}

.churchesSubMenu a {
    text-decoration: none;
    color: black;
}

.churchesSubMenu li {
    padding: 10px;
    padding-left: 20px;
    width: 100%;
    text-decoration: none;
    color: white;
}

.churchesSubMenu li:hover {
    background-color: #8d191c;
}

.churchesSubMenu li:hover a {
    color: white;
}

.mediathequeSubMenu {
    list-style-type: none;
    background-color: white;
    width: 100px;
    z-index: 1000;
    box-shadow: 2px 2px 5px rgb(128, 123, 123);
    position: absolute;
    top: 20;
    display: none;
    padding-left: 0px;
}

.mediatheque:hover .mediathequeSubMenu {
    display: grid;
}

.mediathequeSubMenu a {
    text-decoration: none;
    color: black;
}

.mediathequeSubMenu li {
    padding: 10px;
    padding-left: 20px;
    width: 100%;
}

.mediathequeSubMenu li:hover {
    background-color: #8d191c;
}

.mediathequeSubMenu li:hover a {
    color: white;
}

.carousel-item > img {
    height: 813px;
    width: 100%;
    filter: brightness(60%);
}

.slideButton {
    border: 0px;
    border-radius: 100px;
    background-color: white;
    color: rgb(119, 115, 115);
}

.about-us p {
    text-align: justify;
    padding: 0% 9%;
}

.section-title {
    display: grid;
    place-items: center;
}

.section-title > h1 {
    font-family: "cenMT";
}

.section-title > .trait {
    background-color: #ffce2d;
    width: 10%;
    height: 5px;
}

.carousel-caption {
    position: absolute;
    top: 300px;
}

.carousel-caption > * {
    font-family: "Poppins-Bold";
}

.Messages {
    display: grid;
}

.filter {
    display: flex;
    justify-self: center;
    justify-content: center;
    width: 70%;
    gap: 20px;
    margin-bottom: 10px;

}

.filter select{
    padding: 5px;
    background-color: white;
    outline: none;
    border : 0.5px solid #8d191c;
    width: 50%;
}

.messagesOnMainPage {
    width: 85%;
    place-self: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.singleMessage {
    display: grid;
    grid-template-rows: 60% auto;
    border: 0.2px solid rgb(201, 200, 200);
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgb(163, 162, 162);
}

.singleMessage i {
    color: white;
    position: relative;
    bottom: 70%;
    left: 37%;
    z-index: 2000;
    text-shadow: 2px 2px 10px #d1c8c8;
    border-radius: 55px;
    padding: 15px;
    background-color: #8d191c;
}

.singleMessage img {
    width: 100%;
    height: 100%;
    z-index: 100;
}

.singleMessage p {
    font-size: 14px;
    text-align: justify;
}

.additionnalInfos {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.singleMessage:hover {
    cursor: pointer;
    transform: scale(105%);
    transition: 1s transform;
}

.newInKingdom
{
    display: grid;
}

.lessons {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    gap: 30px;
    place-content: center;
    background: url(../images/bg_kingdom.png);
    background-size: 100% 100%;
    width: 90%;
    justify-self: center;
}

.lesson img {
    width: 100%;
    height: 100%;
    box-shadow: 3px 3px 5px gray;
}

.lesson img:hover {
    cursor: pointer;
}

.testimonieSpace {
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    gap: 20px;
    justify-content: center;
}

.singleTestimony {
    background-color: rgb(204, 201, 201);
    width: 300px;
    height: 300px;
    display: grid;
    grid-template-rows: 20% auto 20%;
}

.singleTestimony div:nth-child(1) {
    background-color: #b1484a;
    color: white;
    font-family: "Poppins-Bold";
}

.singleTestimony div {
    padding: 20px;
}

.testimonyContent {
    text-align: justify;
}

.testimony-pagination-container + div {
    width: 100%;
    display: flex;
    justify-content: center;
}

.testimony-pagination-container,
.messages-pagination-container,
.library-pagination-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.testimony-pagination-container ul,
.messages-pagination-container ul,
.library-pagination-container ul {
    list-style-type: none;
    display: flex;
    place-items: center;
    gap: 20px;
}

.testimony-pagination-container ul a,
.testimony-pagination-container .active,
.messages-pagination-container ul a,
.messages-pagination-container .active,
.library-pagination-container ul a,
.library-pagination-container .active {
    background-color: rgb(230, 221, 221);
    padding: 5px 15px;
    border-radius: 5px;
    color: #0abb90;
}

.testimony-pagination-container ul a:hover,
.messages-pagination-container ul a:hover,
.library-pagination-container ul a:hover {
    background-color: rgb(230, 221, 221);
    padding: 5px 15px;
    border-radius: 5px;
    color: #0abb90;
}

.testimony-pagination-container .active,
.messages-pagination-container .active,
.library-pagination-container .active {
    background-color: #0abb90;
    padding: 5px 15px;
    border-radius: 5px;
    color: rgb(230, 221, 221);
}

.testimony-pagination-container .disabled,
.messages-pagination-container .disabled,
.library-pagination-container .disabled {
    background-color: rgb(187, 184, 184);
    padding: 5px 15px;
    border-radius: 5px;
    color: #000;
}

.books-content {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 50px;
    gap: 20px;
    justify-items: center;
}

.book {
    cursor: pointer;
    display: grid;
    grid-template-rows: 80% 20%;
    width: 270px;
    height: 400px;
    box-shadow: 1px 1px 5px rgb(163, 162, 162);
    border: 0.2px solid rgb(201, 200, 200);
}

.book-infos {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    gap: 20px;
    color: rgb(78, 76, 76);
    padding: 2px 5px;
}

.book img {
    width: 100%;
    height: 100%;
}

.book-infos .bookTitle {
    display: grid;
    font-family: "Poppins-Bold";
    text-transform: uppercase;
}

.join-us {
    display: flex;
    flex-direction: column;
}

.form {
    display: flex;
    justify-content: center;
    place-self: center;
    width: 100%;
    background-image: url(../images/Bible_bg.jpeg);
    background-size: 100% 100%;
}

.form input,
.form textarea
{
    padding: 5px;
    outline: none;
    border-radius: 3px;
    border: 0.5px solid rgb(180, 178, 178);
}

.form input:focus,
.form textarea:focus
{
    border: 1px solid #0abb90;
}

form {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    background-size: 100% 100%;
    width: 70%;
}

.userInfos {
    display: flex;
    column-gap: 50px;
}

form #join-us-submit-button {
    background-color: #09d194;
    width: 120px;
    color: white;
    border-radius: 5px;
    padding: 10px 0px;
    outline: none;
    border-style: none;
    font-family: "Poppins-Bold";
    place-self: flex-end;
}

form #join-us-submit-button:hover {
    background-color: white;
    color: #09d194;
}

textarea {
    resize: none;
}

.bookOtherInfos .badge {
    background-color: #ffce2d;
    border-radius: 6px;
}

.testimony-button {
    background-color: #0abb90;
    width: 40%;
    color: white;
    padding: 10px 0px;
    outline: none;
    border-style: none;
    font-family: "Poppins-Bold";
    margin: 20px 0px;
}

.testimony-button:hover {
    box-shadow: 3px 3px 8px rgb(165, 164, 164);
}

footer {
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
}

.churchInfos {
    background-image: url(../images/footer-bg.png);
    color: white;
    display: flex;
    flex-direction: column;
}

.churchInfos .churchInfos-child:nth-child(1) {
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.main-address,
.newsletter,
.lets-be-connected {
    display: grid;
    grid-template-rows: 30% auto;
    justify-content: center;
}

.churchInfos .churchInfos-child:nth-child(2) {
    display: flex;
    justify-content: center;
}

.copyright {
    background-color: #8d191c;
    display: flex;
    justify-content: center;
    color: white;
}

.newsletter-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.newsletter-form > * {
    padding: 5px 0px;
    outline: none;
}

.newsletter-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.input-group{
    display: grid;
    grid-template-columns: auto 30%;
}

.input-group > input {
    width: 100% !important;
    outline: none !important;
    border: 1px solid #09d194;
    padding: 3px;
}    

.input-group > .submit-email {
    outline: none !important;
    border-style: none !important;
    padding: 0px 10px;
    border-style: none;
    background-color: #09d194;
    color: white;
    text-transform: uppercase;
    font-family: "Poppins-Bold";
}   

.lets-be-connected-content {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.lets-be-connected-content a,
.lets-be-connected-content i {
    font-size: 30px;
    color: white;
}

.lets-be-connected-content .fa-facebook:hover
{
    color: #4267B2;
}

.lets-be-connected-content .fa-youtube:hover
{
    color: #ff0000;
}

#testimonypopup form input{
    width: 100%;
}

#popupNewsletter,
#testimonypopup {
    z-index: 10000;
    font-family: "Poppins", sans-serif;
}

#popupNewsletter p + div,
.testimonypopup-body {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#popupNewsletter button[type="submit"]{
    background-color: #0abb90;
    border-style:none;
    outline:none;
    padding: 5px 0px;
    border-radius: 5px;
}

#popupNewsletter button[type="submit"]:hover{
    background-color: #5e5d56;
}

.testimonyContent span {
    font-size: 25px;
    text-align: end;
    position: relative;
    left: 180px;
    color: #0abb90;
    cursor: pointer;
}

#testimony_detail_popup {
    z-index: 65000;
}

#testimony_detail_popup .modal-header {
    background-color: #8d191c;
    color: white;
}

#testimony_detail_popup .modal-body {
    text-align: justify;
}

#testimony_detail_popup .btn-close {
    background-color: white;
}

.fa-user-circle {
    color: #0abb90;
}

#signup-li {
    padding-left: 50px;
}

#signup-li a{
    color: #f8db00;
    border-bottom: 0px;
} 

#signup-li + li a{
    border-bottom: 0px;
    background-color: #f8db00;
    color: black;
}  

.annonces
{
    overflow: hidden;
    white-space: nowrap;
    background-color: #f6f8f9;
    display: flex;
    align-content: center;
}

.annonces > span
{
    margin-right: 30px;
    font-family: "Poppins-Bold";
    text-transform: uppercase;
    animation: 25s infinite linear defillement;
    color: #b1484a;
}

@keyframes defillement {
    from{
        margin-left: 100%;
    }

    to{
        margin-left: -100%;
    }
}

.slide-arrow
{
    font-size: 40px;
    background-color: rgb(189, 185, 185);
    padding: 10px 20px;
    color: white;
}

.go-top-page , .go-top-page:hover
{
    font-size: 20px;
    background-color: #26e7ad;
    border-radius: 100px;
    padding: 15px 19px;
    color: white;
    position: fixed;
    z-index: 50000;
    bottom: 5%;
    right: 2%;
    box-shadow: 1.5px 1.5px 3px rgb(156, 156, 156);
    cursor: pointer;
}

#log-in-link a{
    padding: 5px;
    border-radius: 5px;
    background-color: #f8db00;
}

#log-in-link a:hover{
    background-color: white;
    color: black;
}

.fa-bars{
    display: none;
}

/* ======================= Reponsive ================ */
@media screen and (max-width : 575px){

    .main{
        padding: 0px !important;
    }

    nav{
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0px;
        padding-right: 10px;
    }

    .logo{
        display: flex;
        justify-content: space-between;
    }

    .logo img{
        width: 70px;
        height: 50px;
    }

    nav.scrolled
    {
        transform: scale(1);
        background-color: #8d191c;
    }

    nav .navBarItem{
        display: none;
        width: 100%;
        padding: 0px;
    }

    nav .navBarItem .navBarElements{
        display: flex;
        flex-direction: column;
    }

    .navBarElements {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
        list-style: none;
        padding-left: 0px;
        margin: 0px;

    }

    .navBarElements li{
        padding: 10px;
        width: 100%;
        border-bottom: 0.1px solid rgb(223, 221, 221);
    }

    .navBarElements li a{
        display: flex;
        justify-content: space-between;
        height: 100%;
        width: 100%;
    }

    .navBarElements li a:hover{
        border: 0px;
        color: #f8db00;
    }

    #log-in-link a{
        border-radius: 0px;
        background-color: #8d191c !important;
        color: #f8db00 !important;
        padding: 0px;
    }
    
    #log-in-link a:hover{
        background-color: transparent;
    }

    #signup-li{
        padding-left: 10px;
    }

    #menu-bars{
        justify-self: end;
        align-self: center;
    }

    .fa-bars{
        cursor: pointer;
        display: block;
        border-style: none;
        outline: none;
        padding: 5px;
        font-size: 30px;
        border-radius: 5px;
    }

    .mediathequeSubMenu,
    .churchesSubMenu {
        display: none;
        list-style-type: none;
        background-color: transparent;
        width: 100%;
        font-family: "Poppins", sans-serif;
        font-weight: unset;
        z-index: 0;
        box-shadow: none;
        position: relative;
        top: 0;
        padding-left: 0px;
    }
    
    .mediatheque:hover .mediathequeSubMenu,
    .eglises:hover .churchesSubMenu{
        display: none;
    }
    
    .mediathequeSubMenu a,
    .churchesSubMenu a {
        color: white;
    }
    
    .mediathequeSubMenu li,
    .churchesSubMenu li {
        padding-left: 0px;
        border-bottom: 0px;
    }
    
    .mediathequeSubMenu li:hover a,
    .churchesSubMenu li:hover a {
        color: white;
    }

    /* ================ MAIN ========================== */
    
    
    .books-content {
        justify-content: center;
        /* justify-items: start;
        border: 1px solid black;
        flex-wrap: nowrap;
        overflow: hidden;
        white-space: nowrap;
 */
    }

    .book {
        width: 200px;
        height: 270px;
        grid-template-rows: 70% auto;
        box-shadow: 1px 1px 5px rgb(163, 162, 162);
        place-self: center;
    }
    
    .messagesOnMainPage {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 7px;
        padding: 5px;
        justify-content: start;
    }

    .singleMessage {
        grid-template-rows: 55% auto;
        width: 100%;
        height: 100%;
    }
    

    .singleMessage .additionnalInfos{
        display: none;
    }
    
    .lessons {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        width: 100%;
        justify-content: center;
        padding: 10px !important;

    }

    .testimonieSpace {
        display: flex;
        /* flex-wrap: wrap; */
        padding: 0px;
        gap: 10px;
        justify-content: center;
    }

    .singleTestimony {
        width: 250px;
        height: 370px;
        display: grid;
        grid-template-rows: 20% auto 20%;
    }

    .testimonyContent span {
        font-size: 25px;
        text-align: end;
        position: relative;
        left: 45%;
        top: 3%;
        color: #0abb90;
        cursor: pointer;
    }

    .carousel-item > img {
        height: 200px;
        width: 100%;
        filter: brightness(60%);
    }

    .slide-arrow
    {
        font-size: 15px;
        padding: 7px 14px;
    }

    
    .form form {
        width: 90%;
        display: grid;
        justify-content: center;

    }

    .userInfos {
        display: grid;
        gap: 15px;
        width: 100%;
    }

    .userInfos > *{
        width: 100% !important;

    }
    
    .testimony-pagination-container,
    .messages-pagination-container,
    .library-pagination-container {
        display: none;
        width: 20%;
        justify-content: center;
    }

    .churchInfos .churchInfos-child:nth-child(1) {
        display: flex;
        flex-direction: column;
        padding: 0px 20px;
        row-gap: 20px;
    }
    
    
    /* =============== FOOTER =============== */
    
    .main-address,
    .newsletter,
    .lets-be-connected {
        grid-template-rows: 20% auto;
        row-gap: 10px;
    }

    .main-address-content,
    .newsletter-content{
        text-align: center;
    }

    .newsletter-content {
        gap: 10px;
    }

    .lets-be-connected-content i{
        font-size: 23px;
    }
    
    .copyright{
        font-size: 14px;
    }
 

    
}