.upload-content
{
    display: grid;
    grid-template-rows: 30% auto 10%;
    height: 90%;
    width: 70%;
    place-self: center;

}

form
{
    width: 100%;
}

form input, 
form textarea
{
    padding: 5px;
    outline: none;
    border-radius: 3px;
    border: 0.5px solid rgb(180, 178, 178);
}

form input:focus, 
form textarea:focus
{
    border: 1px solid #0abb90;
}

form textarea
{
    resize: none;
    height: 100%;
}

.preview-images-box
{
    border: 3px dashed #0abb90;
    display: grid;
    grid-template-rows: auto 15%;
}

.audio-miniature
{
    color: white;
    font-weight: bold;
    justify-self: center;
    border-radius: 3px;
    padding: 3px 10px;
    outline: none;
    border-style: none;
    background-color: #0abb90;
    margin-bottom: 10px;
    cursor: pointer;
}

.show-selected-images
{
   display: grid;
}

.show-selected-images i
{
    place-self: center;
    color: #0abb90;
    font-size: 60px;
}

#validate-button
{   
    width: 100%;
    display: grid;
    align-content: end;

}

.validate-upload
{   
    text-transform: uppercase; 
    width: 100%;
    color: white;
    font-weight: bold;
    border-radius: 3px;
    padding: 5px 0px;
    outline: none;
    border-style: none;
    background-color: #0abb90;
    cursor: pointer;
}