.video-space
{
    display: grid;
}

#exhibition-image
{
    height: 400px;
    width: 100%;
    background: -webkit-linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)) , url(../images/media.jpg);
    background: -moz-linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)) , url(../images/media.jpg);
    background: -o-linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)) , url(../images/media.jpg);
    background-size: 100% 100%;
    padding-right: 70px;
}

#exhibition-image div:nth-child(1)
{
    padding-top: 50px;
    font-size: 100px;
    color: white;
    text-align: end;
    font-family: "cenMT";
}

#exhibition-image div:nth-child(2)
{
    font-size: 50px;
    color: white;
    text-align: end;
}

.videos-and-filters{
    display: flex;
    flex-direction: column;
    width: 85%;
    justify-self: center;
}

.filters{
    display: flex;
    column-gap: 50px;
}

.video-content
{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 30px 0px;
    gap: 20px;
    justify-items: center;
    width: 100%;
}

.video
{ 
    display: grid;
    grid-template-rows: 80% 20%;
}

.miniature-video > img:hover
{
    box-shadow: 1px 1px 5px gray;
    transform: scale(105%);
}

.video-title
{
    display: grid;
    align-content: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(53, 52, 52);
}

.miniature-video > img
{
    width: 100%;
    height: 100%;
    filter: brightness(50%);
    border-radius: 5px;
}

.miniature-video > img:hover
{
    box-shadow: 1px 1px 5px gray;
    transform: scale(105%);
}

.miniature-video i
{   
    position: relative;
    bottom: 60%;
    left: 43%;
    z-index: 10;
    text-shadow: 2px 2px 10px #d1c8c8;
    border-radius: 55px;
    padding: 15px;
    background-color: #8d191c;
    color: white;
}

.miniature-video > img:visited
{
    transform: scale(200%);
    transition: transform 7s;
}

.selected-video
{
    position: fixed;
    left: 25%;
    top: 10%;
    place-self: center;
    width: 50%;
    height: 70%;
    display: grid;
    grid-template-rows: 90% 10%;
    border: 1px solid #dfdbdb;
    box-shadow: 1px 1px 3px ghostwhite;
    z-index: 20000;
    border-radius: 5px;
}

.selected-video video
{
    width: 100%;
    height: 100%;
}

.selected-video div:nth-child(2)
{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    background-color: #c05c5f;
    color: white;
    padding: 10px;
}

.selected-video h4
{
    cursor: pointer;
}

.selected-video #reading-video-title
{
    font-weight: bold;
}

.video-pagination-container + div
{
    width: 100%;
    display: flex;
    justify-content: center;
}

.video-pagination-container
{
    width: 100%;
    display: flex;
    justify-content: center;
}

.video-pagination-container ul
{
    list-style-type: none;
    display: flex;
    place-items: center;
    gap: 20px;
}

.video-pagination-container ul a, 
.video-pagination-container .active
{
    background-color: rgb(230, 221, 221);
    padding: 5px 15px;
    border-radius: 5px;
    color: #8d191c;
}

.video-pagination-container ul a:hover
{
    background-color: rgb(230, 221, 221);
    padding: 5px 15px;
    border-radius: 5px;
    color: #8d191c;
}

.video-pagination-container .active
{
    background-color: #8d191c;
    padding: 5px 15px;
    border-radius: 5px;
    color: rgb(230, 221, 221);
}

.video-pagination-container .disabled
{
    background-color: rgb(187, 184, 184);
    padding: 5px 15px;
    border-radius: 5px;
    color: #000;
}

.filters {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 20px;
    margin-bottom: 10px;
}

.filters select{
    padding: 5px;
    background-color: white;
    outline: none;
    border : 0.5px solid #8d191c;
    width: 100%;
}


/* ======================= Reponsive ================ */

@media screen and (max-width : 575px){

    #exhibition-image
    {
        height: 200px;
        padding: 0px;
        display: grid;
        justify-items: center;
    }

    #exhibition-image div:nth-child(1)
    {
        padding-top: 100px;
        font-size: 30px;
    }

    #exhibition-image div:nth-child(2)
    {
        font-size: 17px;
    }

    .video-pagination-container{
        display: none;
    }

    .videos-and-filters{
        width: 97%;
    }

    .video-content
    {
        display: flex;
        flex-direction: column;
        padding: 0px;
        gap: 10px;
        width: 100%;
    }
    
    .video
    { 
        display: grid;
        grid-template-columns: 40% auto;
        column-gap: 10px;
        padding: 10px;
        box-shadow: 2px 2px 5px rgb(196, 195, 195);
    }

    .miniature-video > img:hover
    {
        box-shadow: none;
        transform: none;
    }

    .video-title
    {
        display: grid;
        align-content: center;
        justify-content: start;
        text-transform: uppercase;
        font-weight: bold;
        color: rgb(53, 52, 52);
        height: 130%;
    }

    .miniature-video > img
    {
        width: 100%;
        height: 130%;
        filter: none;
        border-radius: 3px;
    }

    .miniature-video > img:hover
    {
        box-shadow: none;
        transform: scale(1);
    }

    .miniature-video i
    {   
        bottom: 82%;
        left: 35%;
        font-size: 10px;
        padding: 10px;
    }
}