thead
{
    background-color: #0abb90;
    color: white;
}

thead
{
    background-color: #0abb90;
    color: white;
}

thead tr th, tbody tr td
{
   text-align: center;
}

#treasury-filter
{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 30px;
    padding-right: 10px;
}

#treasury-filter select
{
    /* border: 0.5px solid #0abb90; */
    border: 0.5px solid #adadad;
    background-color: white;
    color: rgb(107, 106, 106);
    outline: none;
    padding: 5px;
}

#treasury-filter .badge
{
    background-color: #0abb90;
}

.beginning-time-filter,
.end-time-filter
{
   display: flex;
   flex-direction: row;
}